{% extends "base.html" %}
{% block content %}
<h3>Event Agenda</h3>
<ul class="list-group">
    <li class="list-group-item"><strong>09:00 AM</strong> - Registration</li>
    <li class="list-group-item"><strong>10:00 AM</strong> - Opening Keynote (Dr. Alice Smith)</li>
    <li class="list-group-item"><strong>11:00 AM</strong> - Workshop: Future of AI (John Doe)</li>
    <li class="list-group-item"><strong>01:00 PM</strong> - Lunch Break</li>
    <li class="list-group-item"><strong>02:00 PM</strong> - Panel Discussion: Tech for Good</li>
    <li class="list-group-item"><strong>04:00 PM</strong> - Closing Remarks</li>
</ul>
{% endblock %}
