{% extends "base.html" %}
{% block content %}
<h3>Event Agenda</h3>
<ul class="list-group">
    <li class="list-group-item"><strong>09:45</strong> - Arrival and Refreshments</li>
    <li class="list-group-item"><strong>10:15</strong> - Welcome and Introduction - Methuselah Singh, Oxford Brookes University</li>
    <li class="list-group-item"><strong>10:25</strong> - DPRIN: Overview - Dr Paul Jackson, Oxford Brookes University</li>
    <li class="list-group-item">
        <div class="d-flex align-items-start">
            <!-- Speaker Headshot -->
            <div>
                <strong>10:35</strong> - <span class="fw-bold">InnovateUK and UKRI - Nick Spickernel, Innovate UK UKRI</span><br>
                <span class="fw-semibold">Nick Spickernel</span>, InnovateUK<br>
                <img src="{{ url_for('static', filename='/nick-s headshot.jpg') }}"
                     alt="Panelist Headshot"
                     class="rounded-circle me-3"
                     style="width:120px; height:120px; object-fit:cover;">
                <small class="text-muted">
                    bio ...
                </small>
            </div>

            <!-- Text content -->

        </div>
    </li>
    <li class="list-group-item"><strong>10:50</strong> - A DPRIN Case Study: CTSI and the Challenges and Opportunities from the Trading Standards Perspective - Phil Owen, CTSI </li>
    <li class="list-group-item"><strong>11:05</strong> - OPSS - TBC</li>
    <li class="list-group-item"><strong>11:20</strong> - Refreshments</li>
    <li class="list-group-item"><strong>11:45</strong> - DPRIN Launch Presentation</li>
    <li class="list-group-item"><strong>12:00</strong> - Interactive Session</li>
    <li class="list-group-item"><strong>12:30</strong> - Networking Lunch</li>
    <li class="list-group-item"><strong>13:15</strong> - Panel Discussion and Q&A Session</li>
    <li class="list-group-item"><strong>14:15</strong> - DPRIN Future and Closing Remarks</li>
    <li class="list-group-item"><strong>14:30</strong> - Refreshments and Networking</li>
    <li class="list-group-item"><strong>15:30</strong> - Departure</li>
</ul>
{% endblock %}
