{% extends "base.html" %}
{% block content %}
{% if username %}
<h4 style="text-align: center;"}>Welcome {{ g.user['first_name'] }} to the Companion App</h4>
<div class="d-grid gap-3 col-6 mx-auto">
    <a href="{{ url_for('agenda') }}" class="btn btn-primary">See Agenda</a>
    <a href="{{ url_for('submit_question') }}" class="btn btn-success">Submit Question</a>
    {% if g.user.is_admin %}
    <a href="{{ url_for('interactive_session_admin') }}" class="btn btn-warning w-100 mb-2">Interactive Session Admin</a>
    {% else %}
    <a href="{{ url_for('interactive_session') }}" class="btn btn-primary">Interactive Session</a>
    {% endif %}
    <a href="{{ url_for('about') }}" class="btn btn-info">Learn About DPRIN and Today's Event</a>
    {% if g.user.is_admin %}
    <a href="{{ url_for('admin_questions') }}" class="btn btn-danger">See All Questions Submitted</a>
    {% endif %}
    <a href="{{ url_for('logout') }}" class="btn btn-outline-dark">Logout</a>
</div>
{% else %}
<p>Please <a href="{{ url_for('login') }}">log in</a> to continue.</p>
{% endif %}
{% endblock %}
